body{
    background-color: blanchedalmond;
   
}

.d1{
    font-family: Arial;
    font-size: 20px;
    color: blue;
    text-align: right;
}

.d2{
 font-family: Cambria;
 font-size: 18px;
 color: brown;
 text-align: center;
}